/* Common Styles */
A {
  color: #666666;
  text-decoration: none;
  text-indent: 0px;
}
A:hover {
  COLOR: #ff6600;
  TEXT-DECORATION: underline
}
img {
  border-width:0;
}
.copyright {
  font-size: 10px;
  line-height: normal;
  text-decoration: none;
  color: #666666;
}
.whitetext {
  color: #FFFFFF;
}
hr{
  color:#CCCCCC;
  height:1px;
  border:0px;
  border-top:1px solid #CCCCCC;
  margin:1px auto;
  padding:0px;
  overflow:hidden;
  width:90%;
  clear:both;
}
.searchbox{
  padding-right: 20px;
  float: right;
  top: 75%;
  position: relative;
}
.searchinput{
  border: 1px solid rgb(204, 204, 204); 
  padding: 2px; 
  background: rgb(255, 255, 255) no-repeat url(images/sprite.png) -220px -15px;
}
.footer{
  border-bottom-color: #FF6600;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  background-color: #FFFFFF;
  height:28px;
  clear:both;
}
.footer_l{  
  background:no-repeat url(images/sprite.png) 0 0;
  width:268px;
  height:17px;
  cursor:pointer;
  
  margin:0 0 11px 30px;
  position:relative;
  float:left;
}
.footer_l div{
  cursor:pointer;
  float:left;
  position:relative;
  margin-right:5px;
}
.footer_r{
  margin:0px;
  padding:0px;
  position:relative;
  width:50%;
  float:right;
  text-align:right;
}
.bold {
  font-size: 1.05em;
  font-style: normal;
  font-weight: bold;
  color: #FF6600;
  text-decoration: none;
  line-height: 1.05em;
}
.timestamp {
  font-size: 0.8em;
  color: #999999;
  text-decoration: none;
  text-align: right;
}
.header {
  color: #333333;
  line-height: 1.1em;
  text-align: center;
  clear:both;
}
.inlinedlist {
  padding:4px;
  display:inline;
}
.inlinedlist2 {
  display:inline;
  padding-right: 8px;
}
input {
  border: 1px solid #666666;
}
textarea {
  border: 1px solid #666666;
}
.subdomain {
  color: #666666;
  font-size: 10px;
}
.banner {
  background:#FFFFFF;
  height: 185px;
}
.banner_l {
  width: 313px;
  height: 185px;
  float: left;
  background:no-repeat url(images/sprite.png) -50px -255px;
}
.banner_r {
  width: 327px;
  height: 115px;
  float: right;
  margin:30px 0 0 90px;
  background:no-repeat url(images/sprite.png) 0 -80px;
  vertical-align: bottom;
}
.small_banner {
  background:#FFFFFF;
  height: 60px;
}
.small_banner_l {
  width: 292px;
  height: 60px;
  float: left;
  margin:0 0 0 30px;
  background: no-repeat url(images/sprite.png) 0 -17px;
}
.small_banner_r {
  width: 240px;
  height: 60px;
  float: right;
  margin:0 0 0 auto;
  background: no-repeat url(images/sprite.png) -50px -195px;
  vertical-align: bottom;
}
/* Menu Styles */
#MainMenu {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
  padding: 0.2em 1em 0.2em 0;
  background-color: #CCCCCC;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #FF6600;
}
#MainMenu li {
  text-decoration: none;
  display: inline;
  line-height: 1em;
  padding: 0.5em;
}
#MainMenu ul {
  text-decoration: none;
  display: inline;
  line-height: 14px;
  padding-right: 10px;
}
#MainMenu .selected {
  background-color:#333;
}
/* Title Styles */
h1 {
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5em;
  padding:10px 0px 0px 0px;
  text-decoration: none;
  text-align: center;
}
h2 {
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-indent: 64px;
}
h3 {
  color: #FF6600;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
}
h4 {
  color: #333333;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
div#ColumnHeader h2 {
  display:inline;
}
/* Article Styles */
.article_text {
  letter-spacing: 0.05em;
  line-height:1.8em;
}
div.comment_form,div#CommentArea{
  line-height: 22px;
  overflow:hidden;
}
span.capital {
  font-size: 1.2em;
  font-weight: bold;
}
div#ArticleArea p a{
  text-decoration:underline;
}
div#CommentArea {
  padding:0px 20px 0px 20px;
}
div.comment_form {
  padding:0px 20px 0px 20px;
  margin:0px 0px 10px 0px;
  background:#EFEFEF;
}
#captcha_img {
  cursor: pointer;
  vertical-align: middle;
}
div#TitleArea {
  padding:0px 20px 0px 20px;
}
.article_photo {
  text-align:center;
}
div#RelatedArticles {
  clear:both;
  float:left;
  line-height: 1.5em;
  margin-left: 1em;
  overflow:hidden;
}
div.mobile#RelatedArticles{
  line-height: 2em;
}
div#RelatedArticles div {
  margin-left:30px;
}
div#UserArea {
  float:right;
}
div#CommentLink {
  line-height: 1em;
  overflow:hidden;
  text-align:right;
  margin-right:1em;
}
div#ArticleNav {
  clear:both;
  line-height: 1.5em;
  margin:1em;
  overflow:hidden;
}
div#ArticleNav .previous {
  float:left;
}
div#ArticleNav .next {
  float:right;
}
div#MainArea{
  background-color: #FFFFFF;
  clear: both;
  margin:1em 0;
}
div#ArticleArea {
  background-color: #FFFFFF;
  clear: both;
  margin:1em 0;
  padding: 0 1em;
  width:auto;
}
fieldset#ArticleIndex {
  border:1px solid #CCCCCC;
  background:#fdffc6;
  display:inline;
  float:right;
  font-size: 0.9em;
  line-height:1.8em;
  margin: 0 0 0 0.5em;
  padding: 0.5em 0;
}
fieldset#ArticleIndex ul{
  padding: 0px 5px 5px 5px;
  margin: 0px;
}
fieldset#ArticleIndex li{
  padding: 0px;
  margin: 0px 5px 0px 20px;
}
fieldset img{
  text-align:center;
  border:0;
  padding:0;
  margin:0;
}
#pagenav {
  padding:0.1em 0;
  text-align:center;
  background-color:#FFFFCC;
  list-style-type: square;
  margin:0px 10px;
  clear:both;
}
.mobile #pagenav {
  font-size:20px;
}
#pagenav a {
  text-decoration: underline;
}
#pagenav li {
  display: inline;
  padding: 0px 5px;
}
.photo_arrow_l,.photo_arrow_r {
  float:left;
  position:relative;
  top:-40px;
  width:48px;
  height:77px;
}
.photo_arrow_l {
  float:left;
  background:no-repeat url(images/sprite.png) -50px -440px;
}
.photo_arrow_r {
  float:right;
  background:no-repeat url(images/sprite.png) -98px -440px;
}
.photoframe {
  height:580px;
}

/* Caption Styles */
#CaptionArea {
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin: 5px 0px 5px 0px;
  color: #999999;
}
/* Photo Snippet Styles */
.photo_snippet{
  float:left;
  margin:0 0.6em 1em 0.6em;
  overflow:hidden;
  padding:0;
  text-align: center;
  width:6.5em;
}
/* Article Snippet Styles */
.snippetheader {
  color: #333333;
  font-weight: bold; 
  margin:0.2em 0 0.4em 0;
}
.snippettext {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 0.05em;
  line-height: 1.4em;
  margin:0 0 0.3em 0;
}
.leftsnippetimg {
  float:left;
  position:relative;
  margin:0 1em 2em 1em;
}
.column_summary {
  clear:both;
  line-height: 1.4em;
  margin:0 auto 0.3em auto;
  width:38.5em; /* (6.5+1.2)x5 */
}
.pc .column_summary {
  width:46.2em; /* (6.5+1.2)x6 */
}
.column_summary_header {
  clear: both;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 0 auto 0.3em 0;
  text-decoration: underline;
}
/* Other Styles */
.verticalspace {
  clear:both; 
  font-size:1px; 
  line-height:1px; 
  height:1px;
}
div#ColumnListTable {
  width:80%;
  margin:auto;
}
.mobile div#ColumnListTable {
  width:95%;
}
.columncell_l {
  clear:both;
  margin:0 0 1.2em 0;
  text-align:left;
}
.columncell_words {
  width:36em;
  margin:0px auto;
  border:0px;
  padding:2px 5px;
  text-align:center;
  font-size: 0.9em;
}
.columncell_words li {
  display:inline;
  padding:0px 20px;
}
.columncell_c{
  clear:both;
  text-align:center;
}
.columndecorate {
  float:right;
  margin:20px 0px 20px 0px;
}
div#ColumnHeader {
  text-align:left;
}
div#ColumnList {
  margin-top:1em;
}
.travel_division_l {
  padding:5px 0px 5px 0px;
  float:left; 
  width:21%;
  text-align:center;
}
.travel_division_r {
  padding:5px 0px 5px 0px;
  float:right; 
  width:77%;
  text-align:center;
  
}
.related {
  text-align:center;
}
.question_mark {
  position:fixed;
  bottom:0;
  right:0;
  background:#FFFFCC;
  padding:0 5px;
  width:5px;
  text-align:center;
  z-index:-1;
}
.arrow_key_tips {
  position:fixed;
  bottom:15px;
  right:15px;
  text-align:center;
  background:#FFFFCC;
  border:dotted #FF0;
  z-index:10;
}

/* Homepage Styles */
.index_part1 {
  float:left;
  padding:0px 6px;
  width:68%;
}
.index_part2 {
  float:right;
  padding:0px 6px;
  width:28%;
}
.mobile .index_part1,.mobile .index_part2 {
  float:none;
  width:100%
}
.introtext {
  line-height: 1.5em;
  padding-top:20px;
  color: #333333;
  text-indent: 14px;
}
.blockdiv {
  display: block;
  clear:both;
  margin: 5px auto;
  width: 95%;
  text-align:left;
  overflow:hidden;
}
.blockdiv ol li {
  line-height: 1.5em;
  letter-spacing: 0.2px;
}
.hint {
  /* .hint should be put after blockdiv */
  text-align:center;
  background-color:#FFFFCC;
  border:1px solid #CCCCCC;
  margin:0.3em 0;
  padding:0.2em;
}
