body {
  background-image: url(images/mainback.gif);
  color: #333333;
  font-family: "宋体", "新宋体";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  text-align:center;
  text-decoration: none;
}
body.mobile {
  font-size: 24px;
}
.outline{
  background:#FFFFFF;
  border-left-color: #FF6600;
  border-right-color: #FF6600;
  border-right-style: solid;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align:left;
  width: 800px;
}
.pc .outline {
  margin-left: auto;
  margin-right: auto;
}
.mobile .outline {
  margin-left: 0;
  margin-right: 0;
}
.h_ads {
  text-align:center;
}
.v_ads {
  height:600px;
  width:160px;
  position:absolute;
  top:35%;
  left:801px;
}
.mobile .v_ads {
  display:none;
}
/* Menu Styles */
#MainMenu {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  text-align: right;
  padding: 0.2em 1em 0.2em 0;
  background-color: #CCCCCC;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #FF6600;
}
#MainMenu li {
  text-decoration: none;
  display: inline;
  line-height: 1em;
  padding: 0.3em;
}
#MainMenu ul {
  text-decoration: none;
  display: inline;
  line-height: 14px;
  padding-right: 10px;
}
#MainMenu .selected {
  background-color:#333;
}
